@import url(https://fonts.googleapis.com/css?family=Manrope:300,regular,500,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1D1E3D;
  line-height: 1;
  font-family: "Manrope";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Manrope";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 88.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 1.625rem;
  padding: 0.75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(101, 213, 255)), to(rgb(1, 83, 158)));
  background: linear-gradient(180deg, rgb(101, 213, 255), rgb(1, 83, 158) 100%);
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1rem;
  max-height: 3.5rem;
  max-width: 13.8125rem;
  line-height: 1.37;
  /* 22/16 */
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.button span {
  position: relative;
  z-index: 1;
}

.no-webp .button--picture::before{
  background: url("../img/bg-button.jpg") 0 0/cover no-repeat; }

.button--picture::before {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 15%;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.button--fw {
  width: 100%;
}

.button--big {
  padding: 1rem;
}

.button--transparent {
  background: transparent;
  color: #01A3DE;
}

.button--white {
  background: #fff;
  color: #01A3DE;
}

.button--border {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 0.0625rem solid #01A3DE;
}

.menu {
  position: relative;
  z-index: 1000;
}

.menu__body {
  display: none;
}

.menu__item:not(:last-child) {
  margin-bottom: 1rem;
}

.menu__link {
  color: #01A3DE;
  font-weight: 600;
  line-height: 137.5%;
  /* 22/16 */
}

.icon-menu {
  display: none;
}

.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibg--top {
  -o-object-position: top;
     object-position: top;
}

.ibg--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.ibg--left {
  -o-object-position: left;
     object-position: left;
}

.ibg--right {
  -o-object-position: right;
     object-position: right;
}

.ibg--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.logo img:not(:last-child) {
  margin-bottom: 0.375rem;
}

.logo__name {
  white-space: nowrap;
  font-weight: 600;
}

.location {
  background: #fff;
  color: #1D1E3D;
  max-width: 7.75rem;
  line-height: 1.37;
  /* 22/16 */
}

.location span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.75rem;
}

.location span::before {
  content: "";
  background: url("../img/header/location.svg") center no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
}

.content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.3125rem;
  font-weight: 600;
  line-height: 1.37;
  /* 22/16 */
}

.content-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-header__link-desktop {
  text-align: center;
  border-radius: 1.625rem;
  background-color: #E9F7FF;
}

.content-header__link {
  text-align: center;
  border-radius: 1.625rem;
  background-color: #E9F7FF;
}

.menu-header {
  line-height: 1.37;
  /* 22/16 */
}

.menu-header__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.menu-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-header__body {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.4375rem;
  height: 2.625rem;
  position: relative;
  z-index: 2;
}

.menu-header__body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -0.4375rem;
  z-index: -1;
  background: url("../img/header/decoration/01.svg") 0 0 no-repeat;
}

.menu-header__image {
  width: 1.875rem;
  height: 1.875rem;
}

.menu-header__link {
  font-weight: 600;
  color: #01A3DE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-header *:not(:last-child) {
  margin-bottom: 1rem;
}

.block-header__title {
  font-weight: 800;
  line-height: 1.08;
  /* 37/34 */
}

.block-header__title span {
  color: #01A3DE;
}

.block-header__text {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 150%;
  /* 27/18 */
}

.block-header--center {
  text-align: center;
}

.breadcrumbs {
  position: relative;
  z-index: 2;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.breadcrumbs__item {
  font-weight: 600;
}

.breadcrumbs__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  color: #01A3DE;
}

.breadcrumbs__link::after {
  content: "/";
}

.header {
  z-index: 50;
  font-size: 1rem;
  background-color: #E9F7FF;
}

.top-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.top-header__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.top-header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__tel {
  white-space: nowrap;
  color: #01A3DE;
  font-weight: 700;
}

.top-header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 5.75rem;
  padding: 1rem;
  border-radius: 1.625rem;
  background-color: #E9F7FF;
  font-weight: 500;
  color: #1D1E3D;
}

.language__ua {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-right: 0.3125rem;
  border-right: 0.0625rem solid #1D1E3D;
}

.language__ru {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-left: 0.3125rem;
}

.language .language-active {
  color: #01A3DE;
}

.body-header {
  margin-top: 1rem;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 25px 30px 0px rgba(123, 156, 180, 0.2);
          box-shadow: 0px 25px 30px 0px rgba(123, 156, 180, 0.2);
}

.body-header::before {
  content: "";
  position: absolute;
  width: 46.875%;
  /* 900/1920 */
  height: 1.0625rem;
  /* 17/45 */
  top: -1.0625rem;
  left: 0;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 90% 0, 95% 100%, 0 100%);
          clip-path: polygon(0 0, 90% 0, 95% 100%, 0 100%);
}

.body-header__container {
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  gap: 1.25rem;
  min-height: 2.8125rem;
}

.footer {
  -webkit-box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
          box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
}

.top-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  position: relative;
  z-index: 2;
}

.top-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.top-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-footer__contact span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.75rem;
}

.top-footer__contact span::before {
  content: "";
  background: url("../img//footer/phone.svg") center no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
}

.body-footer {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: relative;
}

.body-footer__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.body-footer__body {
  width: 100%;
}

.body-footer__content {
  position: relative;
  z-index: 2;
}

.body-footer__content .content-header__link {
  background-color: #fff;
}

.body-footer__link {
  background-color: #fff;
}

.body-footer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-footer__solution {
  width: 18.75rem;
}

.bottom-footer {
  padding-top: 1rem;
  padding-bottom: 1.4375rem;
  line-height: 1.71;
  /* 24/14 */
}

.bottom-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why__top {
  position: relative;
}

.why__image {
  opacity: 0.8;
  position: relative;
}

.why__image::after,
.why__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.why__image::before {
  content: "";
  left: 0;
  background: linear-gradient(64.8deg, rgb(255, 255, 255) 3.351%, rgba(255, 255, 255, 0) 20.335%);
}

.why__image::after {
  right: 0;
  background: -webkit-gradient(linear, right top, left top, color-stop(2.736%, rgb(255, 255, 255)), color-stop(31.965%, rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, rgb(255, 255, 255) 2.736%, rgba(255, 255, 255, 0) 31.965%);
}

.why__block {
  position: relative;
}

.why__block::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  left: -10%;
  background: url("../img/why/decoration/decor-01.svg") top/contain no-repeat;
}

.why__container {
  padding-top: 2.8125rem;
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
}

.why__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 1.25rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
  min-height: 0;
  min-width: 0;
}

.why__arrow {
  position: absolute;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  top: 50%;
  z-index: 2;
  background: #fff url("../img/why/nav.svg") center no-repeat;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
          box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
}

.why__arrow--left {
  left: 0;
  -webkit-transform: translate(0, -50%) rotate(180deg);
      -ms-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg);
}

.why__arrow--right {
  right: 0;
}

.content-why {
  width: 100%;
  height: 100%;
  position: relative;
}

.content-why__slide {
  opacity: 0;
  -webkit-transition: opacity 1.5s ease 0.3s;
  transition: opacity 1.5s ease 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.content-why__image {
  -webkit-box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
          box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
  padding: 0.3125rem;
  border-radius: 50%;
  background-color: #fff;
}

.content-why__text {
  font-size: 1rem;
  font-weight: 400;
  padding: 1.5rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
          box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
  background: rgb(255, 255, 255);
}

.content-why .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-why {
  width: 100%;
  position: relative;
}

.swiper-why__wrapper {
  height: 100%;
}

.swiper-why__slide {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-why__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6.25rem;
  text-align: start;
  background-color: #fff;
  gap: 0.5rem;
  cursor: pointer;
}

.swiper-why__image {
  padding: 0.3125rem;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
          box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
}

.swiper-why__text {
  padding: 1.25rem 1.25rem 1.25rem 0rem;
  font-size: 0.875rem;
  font-weight: 800;
}

.desktop-content__slide {
  display: none;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.desktop-content__image {
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0rem 0.25rem 1.875rem 0rem rgba(123, 156, 180, 0.2);
          box-shadow: 0rem 0.25rem 1.875rem 0rem rgba(123, 156, 180, 0.2);
  padding: 0.3125rem;
  z-index: 2;
  overflow: visible;
}

.desktop-content__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10%;
  left: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: -1;
  background: url("../img/why/decoration/decor-image.svg") top center no-repeat;
}

.desktop-content__text {
  max-width: 43.75rem;
  font-weight: 400;
  line-height: 174.6%;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
          box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
  border-radius: 25rem;
  padding: 5rem 6.875rem 5rem 6.875rem;
}

.desktop-content .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desktop-content .show {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.desktop-slider {
  margin-left: -11.875rem;
}

.desktop-slider__wrapper {
  display: -ms-grid;
  display: grid;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.desktop-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 15rem;
  border-radius: 6.25rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.desktop-slider__image {
  max-width: 7.5625rem;
  padding: 0.3125rem;
  border-radius: 50%;
  background-color: #fff;
}

.desktop-slider__image img {
  aspect-ratio: 1/1;
}

.desktop-slider__text {
  font-size: 1.25rem;
  font-weight: 800;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.services__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.item-services {
  height: 19.875rem;
  background: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-services:first-child {
  border-radius: 0px 25rem 25rem 0px;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
          box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
}

.no-webp .item-services:first-child::before{
  background: url("../img/services/01.jpeg") right no-repeat; }

.item-services:first-child::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.item-services:nth-child(2) {
  border-radius: 25rem 0px 0px 25rem;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
          box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
}

.no-webp .item-services:nth-child(2)::before{
  background: url("../img/services/02.png") left no-repeat; }

.item-services:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 3.75rem;
}

.item-services__body {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
  z-index: 2;
}

.item-services__title {
  font-weight: 800;
}

.clients {
  background: url("../img/clients/bg.svg") center/cover no-repeat;
}

.clients__container {
  display: -ms-grid;
  display: grid;
}

.clients__swiper {
  overflow: hidden;
}

.swiper-clients {
  width: 100%;
  height: 100%;
}

.swiper-clients__slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-clients__slide img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.clients-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  padding: 1rem;
  background-color: #0479a3;
  border-radius: 1.25rem;
  position: relative;
}

.swiper-pagination-bullet {
  height: 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.5rem;
          flex: 0 0 0.5rem;
  border-radius: 50%;
  background-color: #E9F7FF;
}

.swiper-pagination-bullet-active {
  background-color: #01A3DE;
}

.cleaning {
  margin-bottom: 1.25rem;
}

.cleaning__body {
  position: relative;
}

.cleaning__image img {
  max-width: 100%;
}

.cleaning__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(188.53deg, rgb(255, 255, 255) 30.855%, rgba(255, 255, 255, 0) 46.682%);
}

.cleaning__block-header {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 26.295828%;
  /* 208/791 */
  left: 0;
}

.cleaning__items {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  gap: 1.5rem;
  border-radius: 1.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
          box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
}

.cleaning__items::before,
.cleaning__items::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.cleaning__items::before {
  -webkit-transform: translate(-1.25rem, -1.25rem) rotate(180deg);
      -ms-transform: translate(-1.25rem, -1.25rem) rotate(180deg);
          transform: translate(-1.25rem, -1.25rem) rotate(180deg);
  background: url("../img/cleaning/decor.svg") bottom right no-repeat;
}

.cleaning__items::after {
  -webkit-transform: translate(1.25rem, 1.25rem);
      -ms-transform: translate(1.25rem, 1.25rem);
          transform: translate(1.25rem, 1.25rem);
  background: url("../img/cleaning/decor.svg") bottom right no-repeat;
}

.cleaning__item {
  padding: 1rem;
  max-width: 23.125rem;
  width: 100%;
  text-align: center;
  border-left: 1px solid rgb(1, 163, 222);
  border-right: 1px solid rgb(1, 163, 222);
  border-radius: 1.6875rem;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(92, 160, 198, 0.25);
          box-shadow: 0px 5px 30px 0px rgba(92, 160, 198, 0.25);
  font-weight: 700;
  line-height: 137.5%;
  /* 22/16 */
  color: #01A3DE;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.projects__slider {
  width: 100%;
  margin-top: 9.375rem;
  margin-bottom: 3.125rem;
}

.slider-projects {
  position: relative;
}

.slider-projects__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 0;
}

.slider-projects__arrow {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  z-index: 2;
  background: #fff url("../img/why/nav.svg") center no-repeat;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.slider-projects__arrow--left {
  left: 0;
  -webkit-transform: translate(0, -50%) rotate(180deg);
      -ms-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg);
}

.slider-projects__arrow--right {
  right: 0;
}

.swiper-wrapper {
  z-index: 2;
}

.slide-projects {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-projects::before,
.slide-projects::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
}

.slide-projects::before {
  content: "";
  left: -10%;
  background: url("../img/why/decoration/decor-image.svg") left no-repeat;
}

.slide-projects::after {
  content: "";
  right: -10%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background: url("../img/why/decoration/decor-image.svg") left no-repeat;
}

.slide-projects__img {
  border-radius: 12.5rem;
  overflow: hidden;
}

.slide-projects__img::before,
.slide-projects__img::after {
  content: "";
  border-radius: 12.5rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
          box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), color-stop(49.903%, rgba(255, 255, 255, 0.94)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.94) 49.903%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
}

.slide-projects__img::before {
  left: 0;
}

.slide-projects__img::after {
  right: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slide-projects__img img {
  display: block;
  width: 100%;
}

.slide-projects__text {
  font-weight: 700;
  line-height: 140%;
  position: absolute;
  z-index: 2;
  top: -3.125rem;
  border-radius: 1.5rem;
  text-align: center;
  padding: 1.5rem;
  background-color: #E9F7FF;
  max-width: 25rem;
}

.swiper-slide-active::before,
.swiper-slide-active::after {
  opacity: 1;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .menu-header__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .bottom-footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .item-services__button {
    min-width: 17.1875rem;
  }
}

@media (min-width: 47.99875em) {
  .menu-header__list {
    -ms-grid-columns: (auto)[4];
    grid-template-columns: repeat(4, auto);
  }

  .why__top::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -1.25rem;
    left: 0;
    background: url("../img/why/decoration/decor-top.svg") bottom/contain no-repeat;
  }

  .why__arrow--right {
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .cleaning__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .slider-projects__arrow--right {
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .slide-projects {
    opacity: 0;
  }

  .swiper-slide-active {
    opacity: 1;
  }

  .swiper-slide-active::before,
  .swiper-slide-active::after {
    opacity: 1;
  }

  .swiper-slide-next {
    opacity: 1;
  }

  .swiper-slide-next .slide-projects__img::before {
    opacity: 1;
  }

  .swiper-slide-prev {
    opacity: 1;
  }

  .swiper-slide-prev .slide-projects__img::after {
    opacity: 1;
  }
}

@media (min-width: 61.99875em) {
  .menu-header__body {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .top-header__analysis {
    display: none;
  }

  .body-header::after {
    content: "";
    position: absolute;
    width: 46.875%;
    /* 867/1920 */
    height: 37.777778%;
    /* 17/45 */
    bottom: -37%;
    left: 0;
    background-color: #fff;
    -webkit-clip-path: polygon(0 0, 95% 0, 90% 100%, 0 100%);
            clip-path: polygon(0 0, 95% 0, 90% 100%, 0 100%);
  }

  .body-header__content .content-header__link {
    display: none;
  }

  .body-footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #E9F7FF;
    -webkit-clip-path: polygon(0 0, 50% 0, 55% 50%, 100% 50%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 50% 0, 55% 50%, 100% 50%, 100% 100%, 0 100%);
  }

  .body-footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .body-footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .why__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0rem;
  }

  .content-why {
    display: none;
  }

  .swiper-why {
    display: none;
  }

  .swiper-why__image {
    max-width: 7.5625rem;
    padding: 0.3125rem;
    border-radius: 50%;
    background-color: #fff;
  }

  .swiper-why__image img {
    aspect-ratio: 1/1;
  }

  .swiper-why__text {
    font-size: 1.25rem;
  }

  .desktop-content__image {
    margin-right: -5.625rem;
  }

  .desktop-content__image::before {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    width: 100%;
    height: 200%;
    top: -50%;
    left: 10%;
  }

  .desktop-slider__wrapper > :nth-child(3) {
    margin-left: 10rem;
  }

  .desktop-slider__wrapper > :nth-child(2),
  .desktop-slider__wrapper :nth-child(4) {
    margin-left: 5rem;
  }

  .desktop-slider__slide {
    max-width: 30.9375rem;
  }

  .services__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .item-services:first-child .item-services__body {
    padding: 5rem 12.5rem 5rem 5rem;
  }

  .item-services:nth-child(2) .item-services__body {
    padding: 5rem 5rem 5rem 12.5rem;
  }

  .cleaning__items {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    border-radius: 25rem;
  }
}

@media (min-width: 61.99875em) and (min-width: 88.75em) {
  .body-footer__location:not(:last-child) {
    margin-right: 6rem;
  }

  .body-footer__content:not(:last-child) {
    margin-right: 1.875rem;
  }

  .swiper-why__image img {
    width: 6.875rem;
  }

  .cleaning__body {
    margin-top: -10.5rem;
  }
}

@media (min-width: 73.875em) {
  .content-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 81.25em) {
  .top-header::before {
    content: "";
    position: absolute;
    width: 56.25%;
    /* 1080/1920 */
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    -webkit-box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
            box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.2);
  }
}

@media (min-width: 88.75em) {
  .logo__name {
    font-size: 1rem;
  }

  .location span {
    font-size: 1rem;
  }

  .content-header {
    font-size: 1rem;
  }

  .content-header {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .menu-header {
    font-size: 1rem;
  }

  .block-header__title {
    font-size: 2.125rem;
  }

  .breadcrumbs {
    padding-top: 3rem;
  }

  .top-header__body {
    gap: 3.625rem;
  }

  .top-header__actions {
    gap: 2rem;
  }

  .top-footer__body {
    gap: 3.75rem;
  }

  .body-footer__buttons {
    -webkit-column-gap: 2.375rem;
       -moz-column-gap: 2.375rem;
            column-gap: 2.375rem;
  }

  .body-footer__buttons {
    row-gap: 1.5rem;
  }

  .why__container {
    padding-bottom: 5.625rem;
  }

  .swiper-why__image img {
    width: 6.875rem;
  }

  .desktop-slider__slide {
    gap: 1.5rem;
  }

  .desktop-slider__image img {
    width: 6.875rem;
  }

  .services {
    padding-top: 5.625rem;
  }

  .services {
    padding-bottom: 5.625rem;
  }

  .item-services__title {
    font-size: 2.125rem;
  }

  .clients {
    padding-top: 5.625rem;
  }

  .clients {
    padding-bottom: 5.625rem;
  }

  .clients__container {
    gap: 2rem;
  }

  .cleaning__items {
    margin-top: -6.25rem;
  }

  .cleaning__items {
    padding: 2.5rem;
  }

  .projects {
    padding-top: 5rem;
  }

  .projects {
    padding-bottom: 5rem;
  }
}

@media (max-width: 20em) {
  .logo__name {
    font-size: 0.875rem;
  }

  .location span {
    font-size: 0.875rem;
  }

  .content-header {
    font-size: 0.875rem;
  }

  .content-header {
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
  }

  .menu-header {
    font-size: 0.875rem;
  }

  .block-header__title {
    font-size: 1.75rem;
  }

  .breadcrumbs {
    padding-top: 1.125rem;
  }

  .top-header__body {
    gap: 1.25rem;
  }

  .top-header__actions {
    gap: 1.25rem;
  }

  .top-footer__body {
    gap: 1.25rem;
  }

  .body-footer__buttons {
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
  }

  .body-footer__buttons {
    row-gap: 0.625rem;
  }

  .why__container {
    padding-bottom: 2.5rem;
  }

  .swiper-why__image img {
    width: 3.125rem;
  }

  .desktop-slider__slide {
    gap: 0.5rem;
  }

  .desktop-slider__image img {
    width: 4.375rem;
  }

  .services {
    padding-top: 1.25rem;
  }

  .services {
    padding-bottom: 1.25rem;
  }

  .item-services__title {
    font-size: 1.75rem;
  }

  .clients {
    padding-top: 1.25rem;
  }

  .clients {
    padding-bottom: 1.25rem;
  }

  .clients__container {
    gap: 1.5rem;
  }

  .cleaning__items {
    margin-top: 0.0000000625rem;
  }

  .cleaning__items {
    padding: 1.5rem;
  }

  .projects {
    padding-top: 2.5rem;
  }

  .projects {
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 61.99875em) {
  .menu__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
    width: 2.75rem;
    height: 2.75rem;
    padding: 0.625rem;
    border-radius: 50%;
    position: relative;
    z-index: 5;
  }

  .menu-open .menu__button {
    background-color: #E9F7FF;
  }

  .menu__body {
    display: block;
    -webkit-box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.5);
            box-shadow: 0px 4px 30px 0px rgba(123, 156, 180, 0.5);
    position: fixed;
    width: 50%;
    height: 100%;
    right: -100%;
    top: 0;
    overflow: auto;
    padding: 1.25rem;
    padding-right: 5rem;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
    background-color: #fff;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    right: -100%;
    top: 0;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
    z-index: 2;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu-open .menu__body::before {
    right: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    border-radius: 50%;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #01A3DE;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .content-header__items {
    gap: 0.5rem;
  }

  .content-header__link-desktop {
    display: none;
  }

  .header__body {
    padding-bottom: 0.5rem;
  }

  .top-header__tel {
    display: none;
  }

  .top-header__location {
    display: none;
  }

  .top-header__results {
    display: none;
  }

  .top-header__solution {
    display: none;
  }

  .body-header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .body-header__menu {
    display: none;
  }

  .body-footer__location {
    background-color: #E9F7FF;
  }

  .body-footer__content {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .body-footer__content::before {
    content: "";
    position: absolute;
    width: 1000%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: -1;
    background-color: #E9F7FF;
  }

  .body-footer__content:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .body-footer__solution {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .why__container {
    gap: 1.5rem;
  }

  .desktop-content {
    display: none;
  }

  .desktop-slider {
    display: none;
  }

  .item-services__body {
    padding: 1.875rem;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    width: 100%;
  }
}

@media (max-width: 29.99875em) {
  .body-header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .item-services:nth-child(2)::before {
    opacity: 0.6;
  }

  .slide-projects::before {
    left: -15%;
  }

  .slide-projects::after {
    right: -15%;
  }
}

@media (max-width: 21.25em) {
  .top-header__analysis {
    display: none;
  }
}

@media (min-width: 20em) and (max-width: 88.75em) {
@supports (font-size: clamp( 0.875rem , 0.8386363636rem  +  0.1818181818vw , 1rem )) {
    .logo__name {
      font-size: clamp( 0.875rem , 0.8386363636rem  +  0.1818181818vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8386363636rem  +  0.1818181818vw , 1rem )) {
    .logo__name {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 68.75);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8386363636rem  +  0.1818181818vw , 1rem )) {
    .location span {
      font-size: clamp( 0.875rem , 0.8386363636rem  +  0.1818181818vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8386363636rem  +  0.1818181818vw , 1rem )) {
    .location span {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 68.75);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8386363636rem  +  0.1818181818vw , 1rem )) {
    .content-header {
      font-size: clamp( 0.875rem , 0.8386363636rem  +  0.1818181818vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8386363636rem  +  0.1818181818vw , 1rem )) {
    .content-header {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 68.75);
    }
}

@supports ((-moz-column-gap: clamp( 0.5rem , 0.1rem  +  2vw , 1.875rem )) or (column-gap: clamp( 0.5rem , 0.1rem  +  2vw , 1.875rem ))) {
    .content-header {
      -webkit-column-gap: clamp( 0.5rem , 0.1rem  +  2vw , 1.875rem );
         -moz-column-gap: clamp( 0.5rem , 0.1rem  +  2vw , 1.875rem );
              column-gap: clamp( 0.5rem , 0.1rem  +  2vw , 1.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.5rem , 0.1rem  +  2vw , 1.875rem )) or (column-gap: clamp( 0.5rem , 0.1rem  +  2vw , 1.875rem ))) {
    .content-header {
      -webkit-column-gap: calc(0.5rem + 1.375 * (100vw - 20rem) / 68.75);
         -moz-column-gap: calc(0.5rem + 1.375 * (100vw - 20rem) / 68.75);
              column-gap: calc(0.5rem + 1.375 * (100vw - 20rem) / 68.75);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8386363636rem  +  0.1818181818vw , 1rem )) {
    .menu-header {
      font-size: clamp( 0.875rem , 0.8386363636rem  +  0.1818181818vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8386363636rem  +  0.1818181818vw , 1rem )) {
    .menu-header {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 68.75);
    }
}

@supports (font-size: clamp( 1.75rem , 1.6409090909rem  +  0.5454545455vw , 2.125rem )) {
    .block-header__title {
      font-size: clamp( 1.75rem , 1.6409090909rem  +  0.5454545455vw , 2.125rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.6409090909rem  +  0.5454545455vw , 2.125rem )) {
    .block-header__title {
      font-size: calc(1.75rem + 0.375 * (100vw - 20rem) / 68.75);
    }
}

@supports (padding-top: clamp( 1.125rem , 0.5795454545rem  +  2.7272727273vw , 3rem )) {
    .breadcrumbs {
      padding-top: clamp( 1.125rem , 0.5795454545rem  +  2.7272727273vw , 3rem );
    }
}

@supports not (padding-top: clamp( 1.125rem , 0.5795454545rem  +  2.7272727273vw , 3rem )) {
    .breadcrumbs {
      padding-top: calc(1.125rem + 1.875 * (100vw - 20rem) / 68.75);
    }
}

@supports (gap: clamp( 1.25rem , 0.5590909091rem  +  3.4545454545vw , 3.625rem )) {
    .top-header__body {
      gap: clamp( 1.25rem , 0.5590909091rem  +  3.4545454545vw , 3.625rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.5590909091rem  +  3.4545454545vw , 3.625rem )) {
    .top-header__body {
      gap: calc(1.25rem + 2.375 * (100vw - 20rem) / 68.75);
    }
}

@supports (gap: clamp( 1.25rem , 1.0318181818rem  +  1.0909090909vw , 2rem )) {
    .top-header__actions {
      gap: clamp( 1.25rem , 1.0318181818rem  +  1.0909090909vw , 2rem );
    }
}

@supports not (gap: clamp( 1.25rem , 1.0318181818rem  +  1.0909090909vw , 2rem )) {
    .top-header__actions {
      gap: calc(1.25rem + 0.75 * (100vw - 20rem) / 68.75);
    }
}

@supports (gap: clamp( 1.25rem , 0.5227272727rem  +  3.6363636364vw , 3.75rem )) {
    .top-footer__body {
      gap: clamp( 1.25rem , 0.5227272727rem  +  3.6363636364vw , 3.75rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.5227272727rem  +  3.6363636364vw , 3.75rem )) {
    .top-footer__body {
      gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 68.75);
    }
}

@supports ((-moz-column-gap: clamp( 0.5rem , -0.0454545455rem  +  2.7272727273vw , 2.375rem )) or (column-gap: clamp( 0.5rem , -0.0454545455rem  +  2.7272727273vw , 2.375rem ))) {
    .body-footer__buttons {
      -webkit-column-gap: clamp( 0.5rem , -0.0454545455rem  +  2.7272727273vw , 2.375rem );
         -moz-column-gap: clamp( 0.5rem , -0.0454545455rem  +  2.7272727273vw , 2.375rem );
              column-gap: clamp( 0.5rem , -0.0454545455rem  +  2.7272727273vw , 2.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.5rem , -0.0454545455rem  +  2.7272727273vw , 2.375rem )) or (column-gap: clamp( 0.5rem , -0.0454545455rem  +  2.7272727273vw , 2.375rem ))) {
    .body-footer__buttons {
      -webkit-column-gap: calc(0.5rem + 1.875 * (100vw - 20rem) / 68.75);
         -moz-column-gap: calc(0.5rem + 1.875 * (100vw - 20rem) / 68.75);
              column-gap: calc(0.5rem + 1.875 * (100vw - 20rem) / 68.75);
    }
}

@supports (row-gap: clamp( 0.625rem , 0.3704545455rem  +  1.2727272727vw , 1.5rem )) {
    .body-footer__buttons {
      row-gap: clamp( 0.625rem , 0.3704545455rem  +  1.2727272727vw , 1.5rem );
    }
}

@supports not (row-gap: clamp( 0.625rem , 0.3704545455rem  +  1.2727272727vw , 1.5rem )) {
    .body-footer__buttons {
      row-gap: calc(0.625rem + 0.875 * (100vw - 20rem) / 68.75);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5.625rem )) {
    .why__container {
      padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5.625rem )) {
    .why__container {
      padding-bottom: calc(2.5rem + 3.125 * (100vw - 20rem) / 68.75);
    }
}

@supports (width: clamp( 3.125rem , 2.0340909091rem  +  5.4545454545vw , 6.875rem )) {
    .swiper-why__image img {
      width: clamp( 3.125rem , 2.0340909091rem  +  5.4545454545vw , 6.875rem );
    }
}

@supports not (width: clamp( 3.125rem , 2.0340909091rem  +  5.4545454545vw , 6.875rem )) {
    .swiper-why__image img {
      width: calc(3.125rem + 3.75 * (100vw - 20rem) / 68.75);
    }
}

@supports (gap: clamp( 0.5rem , 0.2090909091rem  +  1.4545454545vw , 1.5rem )) {
    .desktop-slider__slide {
      gap: clamp( 0.5rem , 0.2090909091rem  +  1.4545454545vw , 1.5rem );
    }
}

@supports not (gap: clamp( 0.5rem , 0.2090909091rem  +  1.4545454545vw , 1.5rem )) {
    .desktop-slider__slide {
      gap: calc(0.5rem + 1 * (100vw - 20rem) / 68.75);
    }
}

@supports (width: clamp( 4.375rem , 3.6477272727rem  +  3.6363636364vw , 6.875rem )) {
    .desktop-slider__image img {
      width: clamp( 4.375rem , 3.6477272727rem  +  3.6363636364vw , 6.875rem );
    }
}

@supports not (width: clamp( 4.375rem , 3.6477272727rem  +  3.6363636364vw , 6.875rem )) {
    .desktop-slider__image img {
      width: calc(4.375rem + 2.5 * (100vw - 20rem) / 68.75);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.0227272727rem  +  6.3636363636vw , 5.625rem )) {
    .services {
      padding-top: clamp( 1.25rem , -0.0227272727rem  +  6.3636363636vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.0227272727rem  +  6.3636363636vw , 5.625rem )) {
    .services {
      padding-top: calc(1.25rem + 4.375 * (100vw - 20rem) / 68.75);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.0227272727rem  +  6.3636363636vw , 5.625rem )) {
    .services {
      padding-bottom: clamp( 1.25rem , -0.0227272727rem  +  6.3636363636vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.0227272727rem  +  6.3636363636vw , 5.625rem )) {
    .services {
      padding-bottom: calc(1.25rem + 4.375 * (100vw - 20rem) / 68.75);
    }
}

@supports (font-size: clamp( 1.75rem , 1.6409090909rem  +  0.5454545455vw , 2.125rem )) {
    .item-services__title {
      font-size: clamp( 1.75rem , 1.6409090909rem  +  0.5454545455vw , 2.125rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.6409090909rem  +  0.5454545455vw , 2.125rem )) {
    .item-services__title {
      font-size: calc(1.75rem + 0.375 * (100vw - 20rem) / 68.75);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.0227272727rem  +  6.3636363636vw , 5.625rem )) {
    .clients {
      padding-top: clamp( 1.25rem , -0.0227272727rem  +  6.3636363636vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.0227272727rem  +  6.3636363636vw , 5.625rem )) {
    .clients {
      padding-top: calc(1.25rem + 4.375 * (100vw - 20rem) / 68.75);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.0227272727rem  +  6.3636363636vw , 5.625rem )) {
    .clients {
      padding-bottom: clamp( 1.25rem , -0.0227272727rem  +  6.3636363636vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.0227272727rem  +  6.3636363636vw , 5.625rem )) {
    .clients {
      padding-bottom: calc(1.25rem + 4.375 * (100vw - 20rem) / 68.75);
    }
}

@supports (gap: clamp( 1.5rem , 1.3545454545rem  +  0.7272727273vw , 2rem )) {
    .clients__container {
      gap: clamp( 1.5rem , 1.3545454545rem  +  0.7272727273vw , 2rem );
    }
}

@supports not (gap: clamp( 1.5rem , 1.3545454545rem  +  0.7272727273vw , 2rem )) {
    .clients__container {
      gap: calc(1.5rem + 0.5 * (100vw - 20rem) / 68.75);
    }
}

@supports (margin-top: clamp( -6.25rem , 1.8181818989rem  +  -9.0909091818vw , 0.0000000625rem )) {
    .cleaning__items {
      margin-top: clamp( -6.25rem , 1.8181818989rem  +  -9.0909091818vw , 0.0000000625rem );
    }
}

@supports not (margin-top: clamp( -6.25rem , 1.8181818989rem  +  -9.0909091818vw , 0.0000000625rem )) {
    .cleaning__items {
      margin-top: calc(0.0000000625rem + -6.2500000625 * (100vw - 20rem) / 68.75);
    }
}

@supports (padding: clamp( 1.5rem , 1.2090909091rem  +  1.4545454545vw , 2.5rem )) {
    .cleaning__items {
      padding: clamp( 1.5rem , 1.2090909091rem  +  1.4545454545vw , 2.5rem );
    }
}

@supports not (padding: clamp( 1.5rem , 1.2090909091rem  +  1.4545454545vw , 2.5rem )) {
    .cleaning__items {
      padding: calc(1.5rem + 1 * (100vw - 20rem) / 68.75);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.7727272727rem  +  3.6363636364vw , 5rem )) {
    .projects {
      padding-top: clamp( 2.5rem , 1.7727272727rem  +  3.6363636364vw , 5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.7727272727rem  +  3.6363636364vw , 5rem )) {
    .projects {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 68.75);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.7727272727rem  +  3.6363636364vw , 5rem )) {
    .projects {
      padding-bottom: clamp( 2.5rem , 1.7727272727rem  +  3.6363636364vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.7727272727rem  +  3.6363636364vw , 5rem )) {
    .projects {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 68.75);
    }
}
}

@media (min-width: 61.99875em) and (min-width: 20em) and (max-width: 88.75em) {
@supports (margin-right: clamp( 1.25rem , -0.1318181818rem  +  6.9090909091vw , 6rem )) {
    .body-footer__location:not(:last-child) {
      margin-right: clamp( 1.25rem , -0.1318181818rem  +  6.9090909091vw , 6rem );
    }
}

@supports not (margin-right: clamp( 1.25rem , -0.1318181818rem  +  6.9090909091vw , 6rem )) {
    .body-footer__location:not(:last-child) {
      margin-right: calc(1.25rem + 4.75 * (100vw - 20rem) / 68.75);
    }
}

@supports (margin-right: clamp( 1.25rem , 1.0681818182rem  +  0.9090909091vw , 1.875rem )) {
    .body-footer__content:not(:last-child) {
      margin-right: clamp( 1.25rem , 1.0681818182rem  +  0.9090909091vw , 1.875rem );
    }
}

@supports not (margin-right: clamp( 1.25rem , 1.0681818182rem  +  0.9090909091vw , 1.875rem )) {
    .body-footer__content:not(:last-child) {
      margin-right: calc(1.25rem + 0.625 * (100vw - 20rem) / 68.75);
    }
}

@supports (width: clamp( 4.375rem , 3.6477272727rem  +  3.6363636364vw , 6.875rem )) {
    .swiper-why__image img {
      width: clamp( 4.375rem , 3.6477272727rem  +  3.6363636364vw , 6.875rem );
    }
}

@supports not (width: clamp( 4.375rem , 3.6477272727rem  +  3.6363636364vw , 6.875rem )) {
    .swiper-why__image img {
      width: calc(4.375rem + 2.5 * (100vw - 20rem) / 68.75);
    }
}

@supports (margin-top: clamp( -10.5rem , -5.0136363636rem  +  -6.1818181818vw , -6.25rem )) {
    .cleaning__body {
      margin-top: clamp( -10.5rem , -5.0136363636rem  +  -6.1818181818vw , -6.25rem );
    }
}

@supports not (margin-top: clamp( -10.5rem , -5.0136363636rem  +  -6.1818181818vw , -6.25rem )) {
    .cleaning__body {
      margin-top: calc(-6.25rem + -4.25 * (100vw - 20rem) / 68.75);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 20em) {
  .body-footer__location:not(:last-child) {
    margin-right: 1.25rem;
  }

  .body-footer__content:not(:last-child) {
    margin-right: 1.25rem;
  }

  .swiper-why__image img {
    width: 4.375rem;
  }

  .cleaning__body {
    margin-top: -6.25rem;
  }
}

@media (any-hover: hover) {
  .button--picture:hover::before {
    opacity: 30%;
  }

  .button--border:hover {
    color: #0479a3;
    border: 0.0625rem solid #0479a3;
  }

  .location span:hover {
    color: #0479a3;
  }

  .content-header__link-desktop:hover {
    color: #0479a3;
  }

  .content-header__link:hover {
    color: #0479a3;
  }

  .menu-header__link:hover {
    color: #0479a3;
  }

  .top-header__tel:hover {
    color: #0479a3;
  }

  .language:hover {
    color: #0479a3;
  }

  .desktop-slider__slide:hover {
    background-color: #E9F7FF;
  }

  .cleaning__item:hover {
    color: #0479a3;
    border-left: 1px solid #0479a3;
    border-right: 1px solid #0479a3;
    background-color: #E9F7FF;
  }
}

.webp .button--picture::before{ background: url(../img/bg-button.webp) 0 0/cover no-repeat; }

.webp .item-services:first-child::before{ background: url(../img/services/01.webp) right no-repeat; }

.webp .item-services:nth-child(2)::before{ background: url(../img/services/02.webp) left no-repeat; }